* {
  font-family: "Nunito", sans-serif;
}

body,
html {
  width: auto !important;
  overflow-x: hidden !important;
}

.nav-link {
  cursor: pointer;
}
.services-icon {
  height: 80px !important;
  width: 80px !important;
}
.about-name {
  color: rgb(236, 5, 13);
}

.services-icon:hover {
  transform: scale(1.1);
}

.tech-icon {
  height: 80px !important;
  width: 80px !important;
}
.testimonials-icon {
  height: 50px !important;
  width: 50px !important;
}

.about-icons {
  font-size: 50px !important;
  color: teal;
}
.about-icons:hover {
  font-size: 50px !important;
  color: rgb(236, 5, 13);
}
.contact-icons {
  font-size: 30px !important;
  color: white;
}
.contacts {
  background-color: cadetblue;
}
.active {
  color: rgb(147, 236, 5) !important;
}

.project-title {
  text-decoration: none !important;
}
.project-title:hover {
  color: rgb(236, 5, 13);
}
