* {
  font-family: "Poppins", sans-serif;
}
.nav-link {
  cursor: pointer;
}
.services-icon {
  height: 100px !important;
  width: 100px !important;
}
.tech-icon {
  height: 80px !important;
  width: 80px !important;
}
/* .section {
  height: 70vh;
} */
